@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

main {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

/* Navegación */
.logo-img {
  height: 80px;
  width: 230px;
}

nav {
  display: flex;
  background-color: #dbecf3;
  justify-content: center;
  border-color: black;
}

.contenedor_nav {
  margin-left: 70px;
  display: flex;
}

.opt_nav {
  text-decoration: none;
  margin-left: 30px;
  margin-top: 35px;
  color: #505e64;
  font-weight: 700;
  font-size: 12px;
}

/* Primera Sección */

.seccion {
  width: 100%;
  height: 630px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.primera {
  background-color: #dbecf3;
}

/* Titulo cursiva */

.titulo-rice {
  position: absolute;
  top: 80px;
  left: 300px;
  font-size: 220px;
  color: #6d70cb;
  font-family: allura;
}

/* Titulo bowl */

.titulo-bowl {
  position: absolute;
  top: 255px;
  left: 500px;
  font-size: 30px;
  font-weight: bold;
  color: #505e64;
}

/* Descripcion */
.descripcion {
  position: absolute;
  top: 310px;
  left: 300px;
  font-size: 10px;
  color: #505e64;
}

/* Boton */
.btn {
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 15px;
  position: absolute;
  display: flex;
  align-items: center;
}

.view_ourMenu {
  background-color: #b12229;
  color: white;
  top: 370px;
  left: 300px;
  font-size: 12px;
}

.countingCalories {
  background-color: #6d70cb;
  color: white;
  left: 45%;
  bottom: 5px;
  font-size: 12px;
  position: absolute;
}

/* Hierbabuena */
.hierbaBuena {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 430px;
  left: 50px;
}

/* Arroz */
.plato_arroz {
  height: 513px;
  width: 513px;
  position: absolute;
  top: 0px;
  right: 250px;
}

/* HierbaBuena2 */
.hierbaBuena2 {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.pregunta {
  position: absolute;
  left: 650px;
  bottom: 50px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.fuego {
  padding-right: 5px;
}

.flecha {
  padding-left: 5px;
}

/*Segunda Sección */
.segunda {
  background-color: #ffffff;
}

.ensalada {
  height: 500px;
  width: 500px;
  position: absolute;
  top: 50px;
  left: 250px;
}

.titulo-about {
  position: absolute;
  top: 120px;
  left: 795px;
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.subtitulo-about {
  position: absolute;
  color: #6d70cb;
  top: 150px;
  left: 785px;
  font-size: 20px;
  font-family: allura;
  font-size: 100px;
}

.descripcion-about {
  position: absolute;
  top: 260px;
  left: 785px;
  font-size: 12px;
  color: #505e64;
  width: 500px;
}

.segunda .view_ourMenu {
  top: 450px;
  left: 780px;
}

/* Tercera Sección */
.tercera {
  background-color: #5f60b3;
}

.titulo_ourMenu {
  position: absolute;
  top: 20px;
  left: 46%;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.descripcion_ourMenu {
  position: absolute;
  top: 70px;
  left: 35%;
  font-size: 10px;
  color: white;
  width: 500px;
  text-align: center;
}

.menudo {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 175px;
  left: 15%;
}

.tercera .plato_arroz {
  height: 345px;
  width: 345px;
  position: absolute;
  top: 150px;
  left: 40%;
}

.tercera .ensalada {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 200px;
  left: 67%;
}

.yoruHeading {
  position: absolute;
  bottom: 100px;
  font-size: 13px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.primerHeading {
  left: 45%;
}

.segundoHeading {
  left: 20%;
}

.terceroHeading {
  left: 72%;
}

.only {
  position: absolute;
  font-size: 22px;
  color: white;
  font-family: allura;
  bottom: 60px;
}

.primerOnly {
  left: 18%;
}

.segundoOnly {
  left: 43%;
}

.tercerOnly {
  left: 70%;
}

.precio {
  position: absolute;
  font-size: 30px;
  color: white;
  bottom: 50px;
  font-weight: bold;
}

.precio1 {
  left: 22%;
}

.precio2 {
  left: 47%;
}

.precio3 {
  left: 74%;
}

.buyNow {
  position: absolute;
  font-size: 12px;
  color: white;
  bottom: 30px;
}

.buyNow1 {
  left: 22%;
}

.buyNow2 {
  left: 47%;
}

.buyNow3 {
  left: 74%;
}

/* Cuarta Sección */
.cuarta {
  background-color: #f1f2f7;
  height: 600px;
}

.caldito {
  left: 0px;
  position: absolute;
  height: 400px;
  top: 100px;
}

.figura {
  left: 300px;
  top: 100px;
  box-shadow: #505e64;
  position: absolute;
  height: 400px;
}

.comentario {
  justify-content: center;
  height: 380;
  width: 300px;
  font-size: 12px;
  position: absolute;
  top: 200px;
  left: 410px;
}

.contenedor-persona {
  display: flex;
  position: absolute;
  top: 350px;
  left: 500px;
  flex-direction: column;
  width: 200px;
  height: auto;
  background-color: #5f60b3;
}

.imgPersona {
  height: 60px;
  width: 60px;
  display: flex;
  border-radius: 100%;
  object-fit: cover;
  position: absolute;
}

.nombre-persona {
  font-size: 14px;
  font-weight: bold;
  color: #505e64;
  margin-left: 80px;
  position: absolute;
  top: 10px;
}

.usuario-persona {
  font-size: 12px;
  color: #77e5c7;
  margin-left: 80px;
  position: absolute;
  top: 30px;
}

.titulo-happy {
  position: absolute;
  top: 150px;
  right: 330px;
  font-size: 50px;
  color: black;
  font-family: roboto;
  font-weight: lighter;
  justify-content: left;
}

.descripcion-derecha {
  position: absolute;
  top: 310px;
  right: 243px;
  font-size: 12px;
  color: #505e64;
  justify-content: left;
}

.flecha-derecha {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 380px;
  right: 480px;
}

.flecha-izquierda {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 380px;
  right: 530px;
}

.cuarta .hierbaBuena2 {
  height: 150px;
  width: 150px;
  position: absolute;
  margin-top: 10px;
  right: 0px;
}

/* Quiinta Sección */
.quinta {
  height: 300px;
  background-color: #3c3eaf;
}

.contenedor-titulo-descripcion {
  position: absolute;
  top: 90px;
  left: 200px;
  width: 400px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titulo-quinta {
  position: absolute;
  top: 10px;
  font-size: 30px;
  color: white;
  left: 10px;
}

.descripcion-quinta {
  position: absolute;
  top: 80px;
  left: 10px;
  font-size: 15px;
  color: white;
}

.input-email {
  height: 60px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  top: 110px;
  position: absolute;
  width: 500px;
  left: 650px;
}

.btn-get-started {
  text-decoration: none;
  top: 133px;
  position: absolute;
  font-size: 11px;
  right: 450px;
  font-weight: bold;
  color: #3c3eaf;
}

.ensalada2 {
  position: absolute;
  height: 300px;
  width: 300px;
  right: 0%;
  top: 0px;
}
